@model BookstoreApp.Web.ViewModels.Authors.AllAuthorsListViewModel
@{
	this.ViewData["Title"] = "All authors";
}

<h3 class="title text-dark">@this.ViewData["Title"]</h3>
<hr />
<div class="row">
	@foreach (var author in this.Model.Authors)
	{
		<div class="col-md-2">
			<div class="card mb-4">
				@*				<a asp-controller="Books" asp-action="ById" asp-route-id="@Model.Id">
			<img src="@Model.ImageId" class="img-fluid rounded-2 fit">
			</a>*@
				<div class="card-body">
					<a asp-controller="Authors" asp-action="BooksByAuthor" asp-route-id="@author.Id">
						<h5 class="card-title">@author.Name</h5>
					</a>
					<h6 class="card-subtitle mb-2 text-muted">@author.ShortBiography</h6>
				</div>
			</div>
		</div>
	}
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />