@model BookstoreApp.Web.ViewModels.Genres.NonfictionGenresViewModel
@{
	this.ViewData["Title"] = "Nonfiction genres";
}

<h3 class="title text-dark">@this.ViewData["Title"]</h3>
<hr />
<div class="row">
	@foreach (var genre in this.Model.Genres)
	{
		<div class="col-md-3 mb-2">
			<a asp-action="BooksByGenre" asp-route-id="@genre.Id"><i class="fas fa-book-open"></i> @genre.Name</a>
		</div>
	}
</div>
<hr />
<p>Explore books in nonfiction genres</p>
<div class="row">
	@foreach (var book in this.Model.Books)
	{
		<partial name="_SmallBookPartial" model="@book" />
	}
	<hr />
	<partial name="_PagingPartial" model="@Model" />
</div>
