@model BookstoreApp.Web.ViewModels.Administration.Authors.AllAuthorsInTableViewModel
@{
	this.ViewData["Title"] = "All authors";
}

<h3 class="title text-dark">@this.ViewData["Title"]</h3>

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}
<hr />

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" class="fw-bold fs-6">Name</th>
    </tr>
  </thead>
  <tbody>
        @for (int i = 0; i < this.Model.Authors.Count(); i++)
        {
            var number = i + 1 + (@Model.PageNumber - 1) * Model.ItemsPerPage;
            var author = Model.Authors.ToArray()[i];
            <tr>
                <th scope="row">@number</th>
                <td>@author.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@author.Id" class="btn btn-warning">Edit</a> |
                    <a asp-area="" asp-controller="Authors" asp-action="BooksByAuthor" asp-route-id="@author.Id" class="btn btn-primary">Details</a> |
                    <form method="post" asp-action="Delete" asp-route-id="@author.Id" style="display: inline;">
                        <input type="submit" class="btn btn-danger" value="Delete"
                            onclick="return confirm('Are you sure you want to delete the author ' + '@author.Name' + '?');"/>
                    </form>
                </td>
            </tr>
        }
  </tbody>
</table>

<partial name="_PagingPartial" model="@Model" />
