@model BookstoreApp.Web.ViewModels.Books.SingleBookViewModel
@{
	this.ViewData["Title"] = Model.Title;
}
<div class="container">
	<div class="row gx-5">
		<aside class="col-lg-6">
@*			<div class="border rounded-4 mb-3 d-flex justify-content-center">*@
			<div class="mb-3 d-flex justify-content-center">
				@*<a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="">*@
					<img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="@Model.ImageId" alt="@Model.Title"/>
				@*</a>*@
			</div>
		</aside>
		<main class="col-lg-6">
			<div class="ps-lg-3">
				<h4 class="title text-dark">@this.ViewData["Title"]</h4>
				<h6>@Model.AuthorName</h6>
				<div class="d-flex flex-row my-3">
					<div class="text-warning mb-1 me-2">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fas fa-star-half-alt"></i>
						<span class="ms-1">4.5</span>
					</div>
				</div>
				<div class="mb-3">
					<span class="h5">@Model.Price €</span>
				</div>

				<p>@Model.Description</p>

				<dl class="row">
					<dt class="col-4">Pages:</dt>
					<dd class="col-8">@Model.Pages</dd>
					<dt class="col-4">Year published:</dt>
					<dd class="col-8">@Model.YearPublished</dd>
					<dt class="col-4">Genres:</dt>
					@foreach (var genre in this.Model.Genres)
					{
						<dd class="col-8">@genre.Name</dd>
					}
				</dl>

				<div class="row mb-4">
					<!-- col.// -->
					<!--<div class="col-md-4 col-6">
						<label class="mb-2 d-block">Quantity</label>
						<div class="input-group mb-3" style="width: 170px;">
							<button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
								<i class="fas fa-minus"></i>
							</button>
							<input type="text" class="form-control text-center border border-secondary" placeholder="14" aria-label="Example text with button addon" aria-describedby="button-addon1"></input>

							<button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
								<i class="fas fa-plus"></i>
							</button>
						</div>
					</div>-->
					<div class="col-md-4 col-6">
						<a href="#" class="btn btn-warning shadow-0"> Buy now </a>
					</div>
				</div>
			</div>
		</main>
	</div>
	<div>
		<hr>
		<h5 class="title text-dark mb-3">About the Author</h5>
		<p>@Model.AuthorShortBiography</p>
	</div>
</div>


