@using BookstoreApp.Common
@model BookstoreApp.Web.ViewModels.Home.IndexViewModel
@{
	this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="title text-dark">Welcome to @GlobalConstants.SystemName!</h1>
	<p>
		In this website you can find
		<span style="color:orangered;font-weight:bold;">@Model.BooksCount</span> books from
		<span style="color:orangered;font-weight:bold;">@Model.AuthorsCount</span> authors in
		<span style="color:orangered;font-weight:bold;">@Model.GenresCount</span> genres.
	</p>
</div>
<hr />
<div class="row">
	@foreach (var book in this.Model.Books)
	{
		<partial name="_SmallBookPartial" model="@book" />
	}
</div>
<hr />
