@model BookstoreApp.Web.ViewModels.ShoppingCart.ShoppingCartInputModel
@{
	this.ViewData["Title"] = "Shopping Cart";
}

<h3 class="title text-dark">@this.ViewData["Title"]</h3>
<hr />
<div class="row">
	@foreach (var book in this.Model.Books)
	{
		<div class="card mb-3" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<a asp-controller="Books" asp-action="ById" asp-route-id="@book.BookId">
						<img src="@book.BookImageId" class="img-fluid rounded-2 fit">
					</a>
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">@book.BookTitle</h5>
						<h6 class="card-subtitle mb-2 text-muted">@book.BookAuthorName</h6>
						<h6 class="card-subtitle mb-2 text-danger">@book.BookPrice €</h6>
						<a asp-action="RemoveFromCart" asp-route-id="@book.BookId">
							<input class="btn btn-primary mt-3" value="Remove from cart" />
						</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>

<form method="post" asp-action="Checkout" class="col-md-6">
	<div asp-validation-summary="All" class="text-danger"></div>

	<div class="form-group mb-3">
		<label asp-for="UserEmail"></label>
		<input asp-for="UserEmail" class="form-control" disabled />
		<span asp-validation-for="UserEmail" class="text-danger"></span>
	</div>

	<div class="form-group mb-3">
		<label asp-for="AddressForDelivery"></label>
		<input asp-for="AddressForDelivery" class="form-control" />
		<span asp-validation-for="AddressForDelivery" class="text-danger"></span>
	</div>
	<input type="hidden" asp-for="Id" />

	<p>Dear customers, we do not support card payment yet. Payment will be upon delivery.</p>

	<input type="submit" class="btn btn-primary mt-3" value="Checkout"/>
</form>

